/* ---------------------------- */
/* WORKS
/* ---------------------------- */
.section-wrapper{
  &#works{
    background: url("../img/works-bgi@2x.jpg") no-repeat center center /cover;

    .card-list_works{
      width:calc((1000 / 1440) * 100%);
      margin: 0 auto;
      display:flex;
      justify-content: space-between;
      @include underTab{
        flex-direction: column;
        width:calc((320 / 375) * 100%);
      }
      .card-item_work{
        width:calc((100% - 40px) / 3);
        background-color: cl(white);
        @include underTab{
          width:100%;
          &+.card-item_work{
            margin-top:30px;
          }
        }
        a{
          display:flex;
          flex-direction: column;
          justify-content: space-between;
          .text_work{
            color:cl(black-works_text);
            background-color: cl(white);
            box-sizing: border-box;
            padding:25px 20px;
            line-height: calc(30 /16);
          }
        }
      }
    }
  }
}